mat-form-field {
  width: 100%;

  .mat-form-field-infix {
    width: 100%;
  }
}
infivex-select {
  div.mat-form-field-underline {
    position: relative !important;
    margin-top: 20px;
  }

  div.mat-form-field-subscript-wrapper {
    position: relative !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
}

.mat-form-field-underline {
  background-image: none !important;
}

@media only screen and (max-width: 767px) {
  .label {
    float: left !important;
    margin-bottom: 0;
  }
}
