<div class="loginContainer">
  <div nz-row>
    <nz-card class="cardContainer">
      <h3 nz-typography class="loginHeaderText">Log In</h3>

      <form nz-form (ngSubmit)="loginSubmit()" [formGroup]="loginForm" autocomplete="off">
        <nz-spin [nzSpinning]="loading" [nzIndicator]="indicatorTemplate" nzTip="Logging in">
          <span nz-text nzType="danger" [ngStyle]="{ 'margin-bottom': '5px' }">{{ errorMessage }}</span>

          <label>Username</label>
          <nz-form-item>
            <nz-form-control [nzErrorTip]="displayMessage.username">
              <input type="email" nz-input formControlName="username" />
            </nz-form-control>
          </nz-form-item>

          <label>Password</label>
          <nz-form-item>
            <nz-form-control [nzErrorTip]="displayMessage.password">
              <nz-input-group [nzSuffix]="suffixTemplate">
                <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" placeholder="Password" />
              </nz-input-group>
            </nz-form-control>
            <ng-template #suffixTemplate>
              <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <kudos-button [text]="'Login'" [block]="true"></kudos-button>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <div class="forgotPasswordStyle">
                <a (click)="gotoForgotPassword()">Forgot password?</a>
              </div>
            </nz-form-control>
          </nz-form-item>
        </nz-spin>
      </form>
    </nz-card>
  </div>
</div>

<ng-template #indicatorTemplate>
  <i nz-icon nzType="loading" class="login-loading"></i>
</ng-template>
