@import 'src/styles.less';

.cardContainer {
  width: 384px;
  margin: 40px auto 24px;
}

.loginHeaderText {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 400 !important;
  font-size: 24px;
  line-height: 30px;
  color: @text-primary-color;
  margin-bottom: 12px;
  text-align: center;
}

.forgotPasswordStyle {
  font-size: 12px;
}

.loginLabel {
  font-size: 12px;
  font-weight: 300;
}
