@import 'src/styles.less';

.navigationContainer {
  line-height: 80px;
  color: @text-primary-color;
  display: flex;
}

.navigationBody {
  position: absolute;
  right: 0px;
  display: flex;
}

.ant-menu-horizontal > .ant-menu-item:hover {
  color: @primary-color !important;
  border-bottom: 2px solid @primary-color !important;
}

.navigationLogo {
  width: 100px;
  height: 70px;
}
